<!-- app.component.html -->
<div class="input-container">
  <div>
      <label for="numPlayers">Number of Players:</label>
      <input type="number" id="numPlayers" min="1" value="1" #numPlayersInput>
  </div>
  <div>
      <label for="cardsPerPlayer">Cards per Player:</label>
      <input type="number" id="cardsPerPlayer" min="1" value="5" #cardsPerPlayerInput>
  </div>
  <button id="shuffleButton" (click)="shuffleCards()">Shuffle Cards</button>
</div>

<!-- Display dealt hands -->
<div class="dealt-cards-container">
  <div *ngFor="let hand of hands; let i = index" class="dealt-hand">
    <div class="player-info">Player {{ i + 1 }}</div>
    <div *ngFor="let card of hand" class="dealt-card">
      {{ card.Value }} of {{ card.Suit }}
    </div>
  </div>
</div>


