/* app.component.scss */

/* Input container */
.input-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
  }
  
  .input-container > div {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  .input-container input[type="number"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .input-container .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .input-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }

/* Output cards */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 5px;
    }
}

/* Container for dealt hands */
.dealt-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

/* Player info */
.player-info {
    font-weight: bold;
    margin: 10px;
}

/* Individual card container */
.dealt-card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100px;
    height: 170px;
}

/* Adjust the size of the card images */
.dealt-card img {
    width: 80px; /* Adjust the width of the card */
    height: auto; /* Maintain aspect ratio */
}

.dealt-hand {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange cards horizontally */
    padding: 10px;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center the content horizontally */
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red; // Set text color to red
}
.page-title{
    text-align: center;
}